@import "tailwindcss";

@layer components {
  .typography {
    color: var(--color-gray-950);
    a {
      color: var(--color-blue-500);
      &:hover {
        color: var(--color-blue-800);
      }
    }
  }
}

:root {
  --color-primary: #000;
  --color-background: #d00000;
  --color-text: theme(colors.gray.900);
  --color-black: #000;
  --color-white: #000;

}

.dark {
  --color-primary: theme(colors.blue.300);
  --color-background: theme(colors.gray.900);
  --color-text: theme(colors.white);
}
