@import "tailwindcss";

/* @layer components {
  .typography {
    color: var(--color-gray-950);
    a {
      color: var(--color-blue-500);
      &:hover {
        color: var(--color-blue-800);
      }
    }
  }
} */

:root {
  --color-primary: #0062ff;
  --color-primary-hover: #0000ff;
  --color-secondry: #0d0dad;
  /* --color-text: theme(colors.gray.900); */
  --color-black: #000;
  --color-white: #ffffff;


  --color--primary-text: #0062ff;
  --color-primary-hover-text: #0000ff;

}

.dark {
  --color-primary: theme(colors.blue.300);
  --color-background: theme(colors.gray.900);
  --color-text: theme(colors.white);
}
